<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="handrobot_ros2_control" params="name">

        <ros2_control name="${name}" type="system">
            
            <hardware>
                <plugin>handrobot_ros2_control/HandRobotSystemPositionHardware</plugin>
            </hardware>

            <!-- Joint 1 -->
            <joint name="joint1-bd">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            
            <joint name="joint1-du">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <!-- Joint 2 -->
            <joint name="joint2-bd">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint2-dm">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint2-mu">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <!-- Joint 3 -->
            <joint name="joint3-bd">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint3-dm">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint3-mu">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <!-- Joint 4 -->
            <joint name="joint4-bd">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint4-dm">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint4-mu">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <!-- Joint 5 -->
            <joint name="joint5-bd">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint5-dm">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint5-mu">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            
        </ros2_control>
    
    </xacro:macro>

</robot>