<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="handRobot">
    <xacro:include filename="$(find handRobot_ros2_control)/urdf/handRobot_description.urdf.xacro" />  <!-- Why is "description" not required before urdf...? -->

    <xacro:include filename="$(find handRobot_ros2_control)/urdf/handRobot.materials.xacro" />

    <xacro:include filename="$(find handRobot_ros2_control)/ros2_control/handRobot.ros2_control.xacro" />

    <link name="world" />

    <xacro:handRobot_description parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:handRobot_description>

    <xacro:handRobot_ros2_control name="handRobot"/>

</robot>